.pagination {
    border-radius: 0.25rem;
    display: inline-block;
    margin: 1.25rem 0;
    padding-left: 0;
}

.pagination .page-item {
    display: inline-block;
}

.pagination li button {
    background: var(--white);
    border: 1px solid #e6e6e6;
    border-radius: 0.125rem;
    color: #000;
    line-height: 1.42857;
    margin: 0.125rem;
    padding: 0.625rem 1.25rem;
    text-decoration: none;
}

.pagination li.active button.page-link {
    background: var(--background-color);
    border: 1px solid var(--background-color);
}

.pagination li button:hover,
.pagination li button:focus {
    background: var(--background-color);
    border: 1px solid var(--background-color);
    color: var(--white);
    transition: 0.5s;
}
