header.header__menu {
    display: block;
    z-index: 1;
}

header.header__menu > button {
    float: right;
}

.header{
    background-color:black;
    position:absolute;
    top:0;
    left:0;
    right:0;
    padding-bottom:10px;
}

.navbar-nav{
    justify-content:flex-end;
}


.navbar-brand {
    text-align: left;
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
}


.header__breadcrumbs {
    color: var(--white);
    position: relative;
}


