header.header__menu {
    display: block;
    z-index: 1;
}

header.header__menu > button {
    float: right;
}

.header{
    background-color:black;
    margin-bottom:0px;
    padding-bottom:0px;
    z-index: 999;
}

.navbar-nav{
    justify-content:flex-end;
}


.navbar-brand {
    text-align: left;
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
}


.header__breadcrumbs {
    color: var(--white);
    position: relative;
}

.layout__content {
    margin-top:0px!important;


}
