@import './card.css';
@import './icomoon.css';

/* poppins-300 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: local('Poppins Light'), local('Poppins-Light'),
        url('../fonts/poppins-v5-latin-300.woff2') format('woff2'),
        url('../fonts/poppins-v5-latin-300.woff') format('woff');
}
/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local('Poppins Regular'), local('Poppins-Regular'),
        url('../fonts/poppins-v5-latin-regular.woff2') format('woff2'),
        url('../fonts/poppins-v5-latin-regular.woff') format('woff');
}
/* poppins-500 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local('Poppins Medium'), local('Poppins-Medium'),
        url('../fonts/poppins-v5-latin-500.woff2') format('woff2'),
        url('../fonts/poppins-v5-latin-500.woff') format('woff');
}
/* poppins-600 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
        url('../fonts/poppins-v5-latin-600.woff2') format('woff2'),
        url('../fonts/poppins-v5-latin-600.woff') format('woff');
}
/* nunito-200 - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 200;
    src: local('Nunito ExtraLight'), local('Nunito-ExtraLight'),
        url('../fonts/nunito-v9-latin-200.woff2') format('woff2'),
        url('../fonts/nunito-v9-latin-200.woff') format('woff');
}
/* nunito-300 - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    src: local('Nunito Light'), local('Nunito-Light'),
        url('../fonts/nunito-v9-latin-300.woff2') format('woff2'),
        url('../fonts/nunito-v9-latin-300.woff') format('woff');
}
/* nunito-regular - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Regular'), local('Nunito-Regular'),
        url('../fonts/nunito-v9-latin-regular.woff2') format('woff2'),
        url('../fonts/nunito-v9-latin-regular.woff') format('woff');
}

:root {
    --background-color: #4aca85;
    --black: #000;
    --body-font: 'Poppins', Arial, sans-serif;
    --card-shadow: 0px 3px 38px -13px rgba(0, 0, 0, 0.2);
    --header-font: 'Nunito', Arial, sans-serif;
    --header-height: 300px;
    --text-color: #303133;
}

body {
    font-family: var(--body-font);
    font-weight: 300;
    font-size: 16px;
    line-height: 2;
    color: var(--gray);
    background: whitesmoke;
}

a {
    color: var(--background-color);
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: var(--background-color);
    outline: none;
    text-decoration: none;
}

p {
    margin-bottom: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure {
    color: var(--text-color);
    font-family: var(--header-font);
    font-weight: 400;
    margin: 0 0 1.25rem 0;
    line-height: 1.3;
}

::selection {
    color: var(--white);
    background: var(--background-color);
}

.layout__content {
    margin-top: calc(var(--header-height) - 20px);
}
