.news-list {
    display: grid;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    margin-top: 7em;
}

.news-list__image:after {  
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 30px;
    background-color: #fff;
  }