body {
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 2;
    color: gray;
    background: whitesmoke;
}

a {
    color: #4aca85;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #4aca85;
    outline: none;
    text-decoration: none;
}

p {
    margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure {
    color: #303133;
    font-family: 'Nunito', Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    line-height: 1.3;
}

::selection {
    color: #fff;
    background: #4aca85;
}
