.nav-menu__links.navbar-collapse {
    flex-grow: unset;
}

.nav-menu__toggle-button.navbar-toggler {
    color: var(--white);
    border-color: transparent;
}

.nav-option {
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 2px;
}

.nav-option,
.nav-option:hover {
    color: var(--white);
    text-transform: uppercase;
}

.nav-menu__links .nav-option.nav-link.active {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5);
}
